#DECLARE_SET(MyPluginBaby)
#BUILD_ADD(MyPluginBaby "Category = Utilities")
#BUILD_ADD(MyPluginBaby "Step=cedar.proc.utilities.Blubb")
#BUILD_EXCLUDE(MyPluginBaby "...")

DECLARE_PLUGIN(Plugin)
ADD_TO_PLUGIN(STEPS cedar::proc::steps::MatrixThreadDecoupler)
